@model CadastrosFornecedores.Models.Empresa

<h3>Deseja realmente deletar o cadastro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-dark" asp-action="Index">Voltar</a>
        <input type="submit" value="Deletar cadastrar" class="btn btn-danger" />
    </form>
</div>
