@model X.PagedList.IPagedList<CadastrosFornecedores.Models.Fornecedor>
@using X.PagedList.Mvc.Core


@{
    ViewData["Title"] = "Relação de Fornecedores";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("CPF / CNPJ")
            </th>
            <th>
                @Html.DisplayName("Empresa")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf_Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

Página @Model.PageNumber de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))